@media(max-width: 560px){
    
    main{
        display: inline;
        margin: 0 0 0 25%;
    }

    .informacao{
        border-radius: 0 0 10px 10px;
        padding: 21px;
    }

    picture img{
        border-radius: 10px 10px 0 0;
    }    
}
