@media(max-width: 560px){
    body{
        height: 650px;
    }

    main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    section{
        max-width: 254px;
        border-radius: 0 0 10px 10px;
        padding: 10px 21px 17px 21px;
    }

    section p{
        padding-left: 10px;
    }

    section h1{
        padding-left: 10px;
    }

    em{
        padding-left: 10px;
    }

    picture img{
        border-radius: 10px 10px 0 0;
    }    
    
    button{
        margin-top: 12px;
        padding: 10px 76px;
    }
}
